In [9]:
import pandas as pd

In [10]:
sample_df = pd.read_csv("datasets/sampled_data.csv")
sample_df.head()

,income,age_diagnosed_diabetes,marital_status,hours_worked_per_week,smoker_status,stroke,poor_health_during_last_30_days,sex,general_health,education_level,...,number_of_days_alcohol_consumption_in_last_30_days,lifetime_asthma,number_of_days_mental_health_not_good,physical_activity_during_last_30_days,bmi_category,arthristis,healthcare_coverage,age_category,month_year,year
0,4.0,NaN,3.0,NaN,4.0,2.0,NaN,2.0,3.0,2.0,...,2.0,1.0,88.0,2.0,NaN,1.0,1.0,9.0,2011-01-01,2011
1,9.0,NaN,1.0,NaN,4.0,2.0,3.0,2.0,1.0,4.0,...,1.0,1.0,88.0,1.0,NaN,2.0,1.0,8.0,2011-01-01,2011
2,4.0,NaN,1.0,NaN,4.0,2.0,1.0,2.0,3.0,2.0,...,1.0,1.0,5.0,1.0,4.0,7.0,1.0,6.0,2011-01-01,2011
3,2.0,NaN,1.0,NaN,4.0,2.0,88.0,1.0,3.0,2.0,...,1.0,1.0,88.0,1.0,3.0,1.0,1.0,11.0,2011-01-01,2011
4,5.0,NaN,1.0,NaN,3.0,2.0,88.0,2.0,4.0,3.0,...,1.0,1.0,88.0,2.0,4.0,2.0,1.0,11.0,2011-01-01,2011

In [11]:
sample_df.tail()

,income,age_diagnosed_diabetes,marital_status,hours_worked_per_week,smoker_status,stroke,poor_health_during_last_30_days,sex,general_health,education_level,...,number_of_days_alcohol_consumption_in_last_30_days,lifetime_asthma,number_of_days_mental_health_not_good,physical_activity_during_last_30_days,bmi_category,arthristis,healthcare_coverage,age_category,month_year,year
499995,5.0,NaN,2.0,NaN,1.0,2.0,NaN,2.0,2.0,4.0,...,1.0,1.0,88.0,2.0,2.0,2.0,1.0,7.0,2015-12-01,2015
499996,2.0,65.0,3.0,NaN,3.0,2.0,88.0,2.0,5.0,4.0,...,1.0,1.0,88.0,2.0,3.0,2.0,1.0,11.0,2015-12-01,2015
499997,5.0,NaN,1.0,NaN,4.0,2.0,NaN,2.0,1.0,4.0,...,1.0,1.0,88.0,1.0,3.0,2.0,1.0,4.0,2015-12-01,2015
499998,5.0,NaN,1.0,NaN,4.0,2.0,8.0,2.0,4.0,4.0,...,2.0,2.0,1.0,1.0,4.0,1.0,1.0,9.0,2015-12-01,2015
499999,5.0,NaN,1.0,36.0,4.0,2.0,NaN,2.0,2.0,4.0,...,2.0,1.0,88.0,1.0,NaN,2.0,1.0,3.0,2015-12-01,2015

In [12]:
sample_df.shape

(500000, 36)

In [13]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 36 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   income                                                500000 non-null  float64
 1   age_diagnosed_diabetes                                44811 non-null   float64
 2   marital_status                                        499605 non-null  float64
 3   hours_worked_per_week                                 25674 non-null   float64
 4   smoker_status                                         500000 non-null  float64
 5   stroke                                                500000 non-null  float64
 6   poor_health_during_last_30_days                       256893 non-null  float64
 7   sex                                                   500000 non-null  float64
 8   general_health                                        499996 non-null  float64
 9   education_level                                       500000 non-null  float64
 10  current_smoker                                        500000 non-null  float64
 11  skin_cancer                                           499999 non-null  float64
 12  heart_attack                                          500000 non-null  float64
 13  life_satisfaction                                     10224 non-null   float64
 14  coronary_heart_disease                                500000 non-null  float64
 15  asthma                                                500000 non-null  float64
 16  state                                                 500000 non-null  float64
 17  education_level.1                                     499389 non-null  float64
 18  depressive_disorder                                   499997 non-null  float64
 19  usual_activity_hard_in_last_30_days                   4028 non-null    float64
 20  number_of_days_physical_health_not_good_last_30_days  500000 non-null  float64
 21  activity_limitation                                   487461 non-null  float64
 22  pre_diabetes                                          194649 non-null  float64
 23  health_level                                          500000 non-null  float64
 24  had_hysterectomy                                      121924 non-null  float64
 25  diabetes                                              500000 non-null  float64
 26  number_of_days_alcohol_consumption_in_last_30_days    500000 non-null  float64
 27  lifetime_asthma                                       500000 non-null  float64
 28  number_of_days_mental_health_not_good                 500000 non-null  float64
 29  physical_activity_during_last_30_days                 500000 non-null  float64
 30  bmi_category                                          469593 non-null  float64
 31  arthristis                                            500000 non-null  float64
 32  healthcare_coverage                                   500000 non-null  float64
 33  age_category                                          500000 non-null  float64
 34  month_year                                            500000 non-null  object
 35  year                                                  500000 non-null  int64
dtypes: float64(34), int64(1), object(1)
memory usage: 137.3+ MB

In [14]:
# Rename columns
sample_df.rename(columns={
    "state":"_STATE", 
    "income":"_INCOMG",
    "age_diagnosed_diabetes":"DIABAGE2",
    "smoker_status":"_SMOKER3",
    "stroke":"CVDSTRK3",
    "sex":"SEX",
    "marital_status":"MARITAL",    
    "general_health":"GENHLTH",
    "hours_worked_per_week":"SCNTWRK1",
    "current_smoker":"_RFSMOK3",
    "skin_cancer":"CHCSCNCR", 
    "heart_attack":"CVDINFR4", 
    "interview_date":"IDATE", 
    "life_satisfaction":"LSATISFY", 
    "coronary_heart_disease":"CVDCRHD4", 
    "asthma":"ASTHMA3",
    "depressive_disorder":"ADDEPEV2", 
    "number_of_days_physical_health_not_good_last_30_days":"PHYSHLTH", 
    "activity_limitation":"QLACTLM2", 
    "pre_diabetes":"PREDIAB1", 
    "had_hysterectomy":"HADHYST2", 
    "diabetes":"DIABETE3",
    "lifetime_asthma":"_LTASTH1", 
    "number_of_days_mental_health_not_good":"MENTHLTH", 
    "arthristis":"HAVARTH3", 
    "healthcare_coverage":"HLTHPLN1", 
    "age_category":"_AGEG5YR",
    "poor_health_during_last_30_days":"POORHLTH",
    "education_level":"_EDUCAG",
    "education_level":"EDUCA",
    "usual_activity_hard_in_last_30_days":"PAINACT2",
    "health_level":"_RFHLTH",
    "number_of_days_alcohol_consumption_in_last_30_days":"DRNKANY5",
    "physical_activity_during_last_30_days":"_TOTINDA",
    "bmi_category":"_BMI5CAT",
    }, inplace=True)

In [15]:
sample_df.head()

,_INCOMG,DIABAGE2,MARITAL,SCNTWRK1,_SMOKER3,CVDSTRK3,POORHLTH,SEX,GENHLTH,EDUCA,...,DRNKANY5,_LTASTH1,MENTHLTH,_TOTINDA,_BMI5CAT,HAVARTH3,HLTHPLN1,_AGEG5YR,month_year,year
0,4.0,NaN,3.0,NaN,4.0,2.0,NaN,2.0,3.0,2.0,...,2.0,1.0,88.0,2.0,NaN,1.0,1.0,9.0,2011-01-01,2011
1,9.0,NaN,1.0,NaN,4.0,2.0,3.0,2.0,1.0,4.0,...,1.0,1.0,88.0,1.0,NaN,2.0,1.0,8.0,2011-01-01,2011
2,4.0,NaN,1.0,NaN,4.0,2.0,1.0,2.0,3.0,2.0,...,1.0,1.0,5.0,1.0,4.0,7.0,1.0,6.0,2011-01-01,2011
3,2.0,NaN,1.0,NaN,4.0,2.0,88.0,1.0,3.0,2.0,...,1.0,1.0,88.0,1.0,3.0,1.0,1.0,11.0,2011-01-01,2011
4,5.0,NaN,1.0,NaN,3.0,2.0,88.0,2.0,4.0,3.0,...,1.0,1.0,88.0,2.0,4.0,2.0,1.0,11.0,2011-01-01,2011