In [1]:
import pandas as pd

In [2]:
sample_df = pd.read_csv("datasets/sampled_data.csv")
sample_df.head()

,income,age_diagnosed_diabetes,marital_status,hours_worked_per_week,smoker_status,stroke,poor_health_during_last_30_days,sex,general_health,education_level,...,number_of_days_alcohol_consumption_in_last_30_days,lifetime_asthma,number_of_days_mental_health_not_good,physical_activity_during_last_30_days,bmi_category,arthristis,healthcare_coverage,age_category,month_year,year
0,4.0,NaN,3.0,NaN,4.0,2.0,NaN,2.0,3.0,2.0,...,2.0,1.0,88.0,2.0,NaN,1.0,1.0,9.0,2011-01-01,2011
1,9.0,NaN,1.0,NaN,4.0,2.0,3.0,2.0,1.0,4.0,...,1.0,1.0,88.0,1.0,NaN,2.0,1.0,8.0,2011-01-01,2011
2,4.0,NaN,1.0,NaN,4.0,2.0,1.0,2.0,3.0,2.0,...,1.0,1.0,5.0,1.0,4.0,7.0,1.0,6.0,2011-01-01,2011
3,2.0,NaN,1.0,NaN,4.0,2.0,88.0,1.0,3.0,2.0,...,1.0,1.0,88.0,1.0,3.0,1.0,1.0,11.0,2011-01-01,2011
4,5.0,NaN,1.0,NaN,3.0,2.0,88.0,2.0,4.0,3.0,...,1.0,1.0,88.0,2.0,4.0,2.0,1.0,11.0,2011-01-01,2011

In [3]:
sample_df.tail()

,income,age_diagnosed_diabetes,marital_status,hours_worked_per_week,smoker_status,stroke,poor_health_during_last_30_days,sex,general_health,education_level,...,number_of_days_alcohol_consumption_in_last_30_days,lifetime_asthma,number_of_days_mental_health_not_good,physical_activity_during_last_30_days,bmi_category,arthristis,healthcare_coverage,age_category,month_year,year
499995,5.0,NaN,2.0,NaN,1.0,2.0,NaN,2.0,2.0,4.0,...,1.0,1.0,88.0,2.0,2.0,2.0,1.0,7.0,2015-12-01,2015
499996,2.0,65.0,3.0,NaN,3.0,2.0,88.0,2.0,5.0,4.0,...,1.0,1.0,88.0,2.0,3.0,2.0,1.0,11.0,2015-12-01,2015
499997,5.0,NaN,1.0,NaN,4.0,2.0,NaN,2.0,1.0,4.0,...,1.0,1.0,88.0,1.0,3.0,2.0,1.0,4.0,2015-12-01,2015
499998,5.0,NaN,1.0,NaN,4.0,2.0,8.0,2.0,4.0,4.0,...,2.0,2.0,1.0,1.0,4.0,1.0,1.0,9.0,2015-12-01,2015
499999,5.0,NaN,1.0,36.0,4.0,2.0,NaN,2.0,2.0,4.0,...,2.0,1.0,88.0,1.0,NaN,2.0,1.0,3.0,2015-12-01,2015

In [4]:
sample_df.shape

(500000, 36)

In [5]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 36 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   income                                                500000 non-null  float64
 1   age_diagnosed_diabetes                                44811 non-null   float64
 2   marital_status                                        499605 non-null  float64
 3   hours_worked_per_week                                 25674 non-null   float64
 4   smoker_status                                         500000 non-null  float64
 5   stroke                                                500000 non-null  float64
 6   poor_health_during_last_30_days                       256893 non-null  float64
 7   sex                                                   500000 non-null  float64
 8   general_health                                        499996 non-null  float64
 9   education_level                                       500000 non-null  float64
 10  current_smoker                                        500000 non-null  float64
 11  skin_cancer                                           499999 non-null  float64
 12  heart_attack                                          500000 non-null  float64
 13  life_satisfaction                                     10224 non-null   float64
 14  coronary_heart_disease                                500000 non-null  float64
 15  asthma                                                500000 non-null  float64
 16  state                                                 500000 non-null  float64
 17  education_level.1                                     499389 non-null  float64
 18  depressive_disorder                                   499997 non-null  float64
 19  usual_activity_hard_in_last_30_days                   4028 non-null    float64
 20  number_of_days_physical_health_not_good_last_30_days  500000 non-null  float64
 21  activity_limitation                                   487461 non-null  float64
 22  pre_diabetes                                          194649 non-null  float64
 23  health_level                                          500000 non-null  float64
 24  had_hysterectomy                                      121924 non-null  float64
 25  diabetes                                              500000 non-null  float64
 26  number_of_days_alcohol_consumption_in_last_30_days    500000 non-null  float64
 27  lifetime_asthma                                       500000 non-null  float64
 28  number_of_days_mental_health_not_good                 500000 non-null  float64
 29  physical_activity_during_last_30_days                 500000 non-null  float64
 30  bmi_category                                          469593 non-null  float64
 31  arthristis                                            500000 non-null  float64
 32  healthcare_coverage                                   500000 non-null  float64
 33  age_category                                          500000 non-null  float64
 34  month_year                                            500000 non-null  object
 35  year                                                  500000 non-null  int64
dtypes: float64(34), int64(1), object(1)
memory usage: 137.3+ MB

In [6]:
# Drop life_satisfaction, usual_activity_hard_in_last_30_days, hours_worked_per_week, age_diagnosed_diabetes, had_hysterectomy,  
modified_sample_df = sample_df.copy()
modified_sample_df.drop(columns=["life_satisfaction", "usual_activity_hard_in_last_30_days", "hours_worked_per_week", "age_diagnosed_diabetes", "had_hysterectomy"], inplace=True)

In [7]:
# Rename columns
sample_df.rename(columns={
    "state":"_STATE", 
    "income":"_INCOMG",
    "age_diagnosed_diabetes":"DIABAGE2",
    "smoker_status":"_SMOKER3",
    "stroke":"CVDSTRK3",
    "sex":"SEX",
    "marital_status":"MARITAL",    
    "general_health":"GENHLTH",
    "hours_worked_per_week":"SCNTWRK1",
    "current_smoker":"_RFSMOK3",
    "skin_cancer":"CHCSCNCR", 
    "heart_attack":"CVDINFR4", 
    "interview_date":"IDATE", 
    "life_satisfaction":"LSATISFY", 
    "coronary_heart_disease":"CVDCRHD4", 
    "asthma":"ASTHMA3",
    "depressive_disorder":"ADDEPEV2", 
    "number_of_days_physical_health_not_good_last_30_days":"PHYSHLTH", 
    "activity_limitation":"QLACTLM2", 
    "pre_diabetes":"PREDIAB1", 
    "had_hysterectomy":"HADHYST2", 
    "diabetes":"DIABETE3",
    "lifetime_asthma":"_LTASTH1", 
    "number_of_days_mental_health_not_good":"MENTHLTH", 
    "arthristis":"HAVARTH3", 
    "healthcare_coverage":"HLTHPLN1", 
    "age_category":"_AGEG5YR",
    "poor_health_during_last_30_days":"POORHLTH",
    "education_level":"_EDUCAG",
    "education_level":"EDUCA",
    "usual_activity_hard_in_last_30_days":"PAINACT2",
    "health_level":"_RFHLTH",
    "number_of_days_alcohol_consumption_in_last_30_days":"DRNKANY5",
    "physical_activity_during_last_30_days":"_TOTINDA",
    "bmi_category":"_BMI5CAT",
    }, inplace=True)

In [8]:
 # drop life_satisfaction,

In [9]:
sample_df.head()

,_INCOMG,DIABAGE2,MARITAL,SCNTWRK1,_SMOKER3,CVDSTRK3,POORHLTH,SEX,GENHLTH,EDUCA,...,DRNKANY5,_LTASTH1,MENTHLTH,_TOTINDA,_BMI5CAT,HAVARTH3,HLTHPLN1,_AGEG5YR,month_year,year
0,4.0,NaN,3.0,NaN,4.0,2.0,NaN,2.0,3.0,2.0,...,2.0,1.0,88.0,2.0,NaN,1.0,1.0,9.0,2011-01-01,2011
1,9.0,NaN,1.0,NaN,4.0,2.0,3.0,2.0,1.0,4.0,...,1.0,1.0,88.0,1.0,NaN,2.0,1.0,8.0,2011-01-01,2011
2,4.0,NaN,1.0,NaN,4.0,2.0,1.0,2.0,3.0,2.0,...,1.0,1.0,5.0,1.0,4.0,7.0,1.0,6.0,2011-01-01,2011
3,2.0,NaN,1.0,NaN,4.0,2.0,88.0,1.0,3.0,2.0,...,1.0,1.0,88.0,1.0,3.0,1.0,1.0,11.0,2011-01-01,2011
4,5.0,NaN,1.0,NaN,3.0,2.0,88.0,2.0,4.0,3.0,...,1.0,1.0,88.0,2.0,4.0,2.0,1.0,11.0,2011-01-01,2011

In [10]:
modified_sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   income                                                500000 non-null  float64
 1   marital_status                                        499605 non-null  float64
 2   smoker_status                                         500000 non-null  float64
 3   stroke                                                500000 non-null  float64
 4   poor_health_during_last_30_days                       256893 non-null  float64
 5   sex                                                   500000 non-null  float64
 6   general_health                                        499996 non-null  float64
 7   education_level                                       500000 non-null  float64
 8   current_smoker                                        500000 non-null  float64
 9   skin_cancer                                           499999 non-null  float64
 10  heart_attack                                          500000 non-null  float64
 11  coronary_heart_disease                                500000 non-null  float64
 12  asthma                                                500000 non-null  float64
 13  state                                                 500000 non-null  float64
 14  education_level.1                                     499389 non-null  float64
 15  depressive_disorder                                   499997 non-null  float64
 16  number_of_days_physical_health_not_good_last_30_days  500000 non-null  float64
 17  activity_limitation                                   487461 non-null  float64
 18  pre_diabetes                                          194649 non-null  float64
 19  health_level                                          500000 non-null  float64
 20  diabetes                                              500000 non-null  float64
 21  number_of_days_alcohol_consumption_in_last_30_days    500000 non-null  float64
 22  lifetime_asthma                                       500000 non-null  float64
 23  number_of_days_mental_health_not_good                 500000 non-null  float64
 24  physical_activity_during_last_30_days                 500000 non-null  float64
 25  bmi_category                                          469593 non-null  float64
 26  arthristis                                            500000 non-null  float64
 27  healthcare_coverage                                   500000 non-null  float64
 28  age_category                                          500000 non-null  float64
 29  month_year                                            500000 non-null  object
 30  year                                                  500000 non-null  int64
dtypes: float64(29), int64(1), object(1)
memory usage: 118.3+ MB

In [11]:
modified_sample_df['income'].value_counts

<bound method IndexOpsMixin.value_counts of 0         4.0
1         9.0
2         4.0
3         2.0
4         5.0
         ...
499995    5.0
499996    2.0
499997    5.0
499998    5.0
499999    5.0
Name: income, Length: 500000, dtype: float64>

In [12]:
modified_sample_df['marital_status'].value_counts(normalize=True)
# Keep top 4 marital status and group the rest into 'Other' 4 separated 6 member of unmarried couples

marital_status
1.0    0.525591
5.0    0.149596
2.0    0.138644
3.0    0.133213
6.0    0.026287
4.0    0.020874
9.0    0.005795
Name: proportion, dtype: float64

In [13]:
modified_sample_df['smoker_status'].value_counts(normalize=True)
# drop 9

smoker_status
4.0    0.536512
3.0    0.282266
1.0    0.110206
2.0    0.042880
9.0    0.028136
Name: proportion, dtype: float64

In [14]:
modified_sample_df['stroke'].value_counts(normalize=True)
# Drop 7 & 9, possibly drop stroke all together

stroke
2.0    0.956274
1.0    0.041140
7.0    0.002464
9.0    0.000122
Name: proportion, dtype: float64

In [15]:
modified_sample_df['sex'].value_counts(normalize=True)

sex
2.0    0.587738
1.0    0.412262
Name: proportion, dtype: float64

In [16]:
modified_sample_df['general_health'].value_counts(normalize=True)
# Drop 7 & 9

general_health
2.0    0.323773
3.0    0.306662
1.0    0.176857
4.0    0.133261
5.0    0.055816
7.0    0.001946
9.0    0.001684
Name: proportion, dtype: float64

In [17]:
modified_sample_df['current_smoker'].value_counts(normalize=True)
# drop current_smoker

current_smoker
1.0    0.818778
2.0    0.153086
9.0    0.028136
Name: proportion, dtype: float64

In [18]:
modified_sample_df['skin_cancer'].value_counts(normalize=True)
# drop skin_cancer all together

skin_cancer
2.0    0.907192
1.0    0.090496
7.0    0.002188
9.0    0.000124
Name: proportion, dtype: float64

In [19]:
modified_sample_df['heart_attack'].value_counts(normalize=True)
# drop 7 & 9, possibly drop heart_attack all together

heart_attack
2.0    0.935928
1.0    0.059548
7.0    0.004256
9.0    0.000268
Name: proportion, dtype: float64

In [20]:
modified_sample_df['coronary_heart_disease'].value_counts(normalize=True)
# drop 7 & 9, possibly drop coronary_heart_disease all together

coronary_heart_disease
2.0    0.932018
1.0    0.059740
7.0    0.007984
9.0    0.000258
Name: proportion, dtype: float64

In [21]:
modified_sample_df['asthma'].value_counts(normalize=True)
# drop 7 & 9, possibly drop all together refer to lifetime_asthma

asthma
2.0    0.866492
1.0    0.130796
7.0    0.002598
9.0    0.000114
Name: proportion, dtype: float64

In [22]:
modified_sample_df['depressive_disorder'].value_counts(normalize=True)
# drop 7 & 9

depressive_disorder
2.0    0.809581
1.0    0.186169
7.0    0.003434
9.0    0.000816
Name: proportion, dtype: float64

In [23]:
modified_sample_df['activity_limitation'].value_counts(normalize=True)
# drop 7 & 9

activity_limitation
2.0    0.740554
1.0    0.251542
9.0    0.003955
7.0    0.003949
Name: proportion, dtype: float64

In [24]:
modified_sample_df['pre_diabetes'].value_counts(normalize=True)
# drop 7 & 9, combine 1 & 2

pre_diabetes
3.0    0.912997
1.0    0.073460
2.0    0.009997
7.0    0.003314
9.0    0.000231
Name: proportion, dtype: float64

In [25]:
modified_sample_df['diabetes'].value_counts(normalize=True)

diabetes
3.0    0.868244
1.0    0.131756
Name: proportion, dtype: float64

In [26]:
modified_sample_df['lifetime_asthma'].value_counts(normalize=True)
# drop 9, possibly drop lifetime_asthma all together refer to asthma

lifetime_asthma
1.0    0.866492
2.0    0.130796
9.0    0.002712
Name: proportion, dtype: float64

In [27]:
modified_sample_df['arthristis'].value_counts(normalize=True)
# Drop 7 & 9

arthristis
2.0    0.657174
1.0    0.337354
7.0    0.005228
9.0    0.000244
Name: proportion, dtype: float64

In [28]:
modified_sample_df['healthcare_coverage'].value_counts(normalize=True)
# drop 7 & 9

healthcare_coverage
1.0    0.897596
2.0    0.098676
7.0    0.002052
9.0    0.001676
Name: proportion, dtype: float64

In [29]:
modified_sample_df['poor_health_during_last_30_days'].value_counts(normalize=True)
# possibly drop all together, 77 & 99, group: 1-10, 11-20, 21-30, 88(none)

poor_health_during_last_30_days
88.0    0.558131
30.0    0.086713
2.0     0.053789
1.0     0.048783
5.0     0.035061
3.0     0.033458
15.0    0.031211
10.0    0.029573
20.0    0.020764
4.0     0.018798
7.0     0.018346
77.0    0.017860
14.0    0.010101
25.0    0.008260
6.0     0.005644
99.0    0.005177
8.0     0.004558
21.0    0.002920
12.0    0.002826
28.0    0.001954
9.0     0.000825
18.0    0.000794
29.0    0.000673
16.0    0.000650
27.0    0.000584
17.0    0.000436
22.0    0.000397
26.0    0.000378
13.0    0.000343
24.0    0.000335
23.0    0.000288
11.0    0.000237
19.0    0.000132
Name: proportion, dtype: float64

In [30]:
modified_sample_df['activity_limitation'].value_counts(normalize=True)
# drop 7 & 9

activity_limitation
2.0    0.740554
1.0    0.251542
9.0    0.003955
7.0    0.003949
Name: proportion, dtype: float64

In [31]:
modified_sample_df['education_level'].value_counts(normalize=True)
# drop 9, EDUCAG (NOTATE: there are 2 'education_level' columns)

education_level
4.0    0.352470
2.0    0.288532
3.0    0.270648
1.0    0.083610
9.0    0.004740
Name: proportion, dtype: float64

In [32]:
modified_sample_df['education_level.1'].value_counts(normalize=True)
# Drop 9, EDUCA (NOTATE: there are 2 'education_level' columns)

education_level.1
6.0    0.352901
4.0    0.288885
5.0    0.270979
3.0    0.055514
2.0    0.026857
9.0    0.003522
1.0    0.001342
Name: proportion, dtype: float64

In [33]:
modified_sample_df['health_level'].value_counts(normalize=True)
# Drop 9

health_level
1.0    0.807286
2.0    0.189076
9.0    0.003638
Name: proportion, dtype: float64

In [34]:
modified_sample_df['number_of_days_alcohol_consumption_in_last_30_days'].value_counts(normalize=True)
# Drop 9

number_of_days_alcohol_consumption_in_last_30_days
1.0    0.480836
2.0    0.471410
9.0    0.041454
7.0    0.006300
Name: proportion, dtype: float64

In [35]:
modified_sample_df['physical_activity_during_last_30_days'].value_counts(normalize=True)
# Drop 9

physical_activity_during_last_30_days
1.0    0.709902
2.0    0.248854
9.0    0.041244
Name: proportion, dtype: float64

In [36]:
modified_sample_df['state'].value_counts(normalize=True)

state
31.0    0.042594
20.0    0.038680
25.0    0.034820
27.0    0.031994
12.0    0.030842
34.0    0.029256
53.0    0.028718
48.0    0.027794
8.0     0.027500
49.0    0.026558
6.0     0.026082
24.0    0.026008
45.0    0.025160
42.0    0.025034
39.0    0.024606
21.0    0.022234
26.0    0.021940
23.0    0.021032
37.0    0.019276
18.0    0.018970
9.0     0.018354
36.0    0.018254
35.0    0.018014
30.0    0.017790
4.0     0.017400
1.0     0.017050
51.0    0.016924
40.0    0.016832
46.0    0.015904
19.0    0.015696
15.0    0.015374
22.0    0.014834
13.0    0.014564
29.0    0.014454
33.0    0.014204
28.0    0.014052
50.0    0.013920
56.0    0.013336
38.0    0.013098
55.0    0.013064
44.0    0.013050
72.0    0.012896
54.0    0.012240
47.0    0.012230
16.0    0.012182
41.0    0.012082
17.0    0.011238
5.0     0.011212
10.0    0.010056
32.0    0.009086
11.0    0.008752
2.0     0.008588
66.0    0.004172
Name: proportion, dtype: float64

In [37]:
modified_sample_df['bmi_category'].value_counts(normalize=True)
# keep as is

bmi_category
3.0    0.362062
2.0    0.335261
4.0    0.285552
1.0    0.017125
Name: proportion, dtype: float64

In [38]:
# list of possible drops:
# Definite drops ['education_level.1', 'health_level',  'lifetime_asthma', 'state', ''
columns_to_drop = ['education_level.1', 'health_level', 'lifetime_asthma', 'poor_health_during_last_30_days', 'current_smoker', 'stroke', 'pre_diabetes']
modified_sample_df.drop(columns=columns_to_drop, inplace=True)

In [39]:
modified_sample_df.shape

(500000, 24)

In [40]:
# Drop NA values
# modified_sample_df.dropna(inplace=True)

In [41]:
modified_sample_df.shape

(500000, 24)

In [42]:
modified_sample_df.isnull().sum()

income                                                      0
marital_status                                            395
smoker_status                                               0
sex                                                         0
general_health                                              4
education_level                                             0
skin_cancer                                                 1
heart_attack                                                0
coronary_heart_disease                                      0
asthma                                                      0
state                                                       0
depressive_disorder                                         3
number_of_days_physical_health_not_good_last_30_days        0
activity_limitation                                     12539
diabetes                                                    0
number_of_days_alcohol_consumption_in_last_30_days          0
number_of_days_mental_health_not_good                       0
physical_activity_during_last_30_days                       0
bmi_category                                            30407
arthristis                                                  0
healthcare_coverage                                         0
age_category                                                0
month_year                                                  0
year                                                        0
dtype: int64

In [43]:
# Drop null values
modified_sample_df.dropna(inplace=True)

In [44]:
modified_sample_df.shape
# Overall drop 7's & 9's
# Keep top 4 marital status and group the rest into 'Other' 4 separated 6 member of unmarried couples
#

(461590, 24)