In [1]:
import pandas as pd
from utils.sample_cleaning_utils import clean_data

In [2]:
df = pd.read_csv("datasets/sample_dataset.csv")
sample_df = df.copy()
sample_df.head()

,_STATE,GENHLTH,PHYSHLTH,MENTHLTH,HLTHPLN1,CVDINFR4,CVDCRHD4,CVDSTRK3,ASTHMA3,CHCSCNCR,...,_AGE_G,_BMI5CAT,_EDUCAG,_INCOMG,_SMOKER3,DRNKANY5,DROCDY3_,_TOTINDA,calculated_month,calculated_year
0,22.0,4.0,88.0,13.0,2.0,2.0,2.0,2.0,2.0,2.0,...,5.0,4.0,2.0,2.0,2.0,2.0,5.397605e-79,2.0,2,2011
1,31.0,1.0,2.0,88.0,1.0,2.0,2.0,1.0,2.0,2.0,...,6.0,2.0,2.0,1.0,4.0,2.0,5.397605e-79,2.0,4,2011
2,11.0,1.0,88.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,...,3.0,4.0,2.0,9.0,2.0,1.0,1.000000e+02,1.0,10,2011
3,66.0,3.0,88.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,...,5.0,2.0,3.0,1.0,4.0,2.0,5.397605e-79,2.0,6,2011
4,20.0,2.0,88.0,88.0,2.0,2.0,2.0,2.0,2.0,2.0,...,3.0,2.0,2.0,3.0,4.0,1.0,4.300000e+01,1.0,5,2011

In [3]:
cleaned_df = clean_data(sample_df)

In [4]:
cleaned_df.shape

(500000, 30)

In [5]:
cleaned_df.columns

Index(['_STATE', 'GENHLTH', 'HLTHPLN1', 'CVDINFR4', 'CVDCRHD4', 'CVDSTRK3',
       'CHCSCNCR', 'CHCOCNCR', 'ADDEPEV2', 'CHCKIDNY', 'DIABETE3', 'SEX',
       'MARITAL', 'QLACTLM2', 'USENOW3', 'EXERANY2', 'PNEUVAC3', '_RFHLTH',
       '_ASTHMS1', '_DRDXAR1', '_AGE_G', '_BMI5CAT', '_EDUCAG', '_INCOMG',
       '_SMOKER3', '_TOTINDA', 'PHYSHLTH_30_day_range',
       'MENTHLTH_30_day_range', 'ALCDAY5_last_30_days', 'month_year_datetime'],
      dtype='object')

In [6]:
# Read json file for source key value definitions

import json

with open("datasets/2015_formats.json") as json_file:
    data = json.load(json_file)
    
column_names = sample_df.columns

filtered_values = {}

for column_name in column_names:
    if column_name in data:
        values_without_quotes = {k: v.strip('"') for k, v in data[column_name].items()}
        filtered_values[column_name] = values_without_quotes
        
filtered_json = json.dumps(filtered_values, ensure_ascii=False)
print(filtered_json)

{"_STATE": {".D": "DK/NS", ".R": "REFUSED", "1": "Alabama", "2": "Alaska", "4": "Arizona", "5": "Arkansas", "6": "California", "8": "Colorado", "9": "Connecticut", "10": "Delaware", "11": "District of Columbia", "12": "Florida", "13": "Georgia", "15": "Hawaii", "16": "Idaho", "17": "Illinois", "18": "Indiana", "19": "Iowa", "20": "Kansas", "21": "Kentucky", "22": "Louisiana", "23": "Maine", "24": "Maryland", "25": "Massachusetts", "26": "Michigan", "27": "Minnesota", "28": "Mississippi", "29": "Missouri", "30": "Montana", "31": "Nebraska", "32": "Nevada", "33": "New Hampshire", "34": "New Jersey", "35": "New Mexico", "36": "New York", "37": "North Carolina", "38": "North Dakota", "39": "Ohio", "40": "Oklahoma", "41": "Oregon", "42": "Pennsylvania", "44": "Rhode Island", "45": "South Carolina", "46": "South Dakota", "47": "Tennessee", "48": "Texas", "49": "Utah", "50": "Vermont", "51": "Virginia", "53": "Washington", "54": "West Virginia", "55": "Wisconsin", "56": "Wyoming", "66": "Guam", "72": "Puerto Rico", "78": "Virgin Islands"}, "GENHLTH": {".": "Not asked or Missing", ".D": "DK/NS", ".R": "REFUSED", "1": "Excellent", "2": "Very good", "3": "Good", "4": "Fair", "5": "Poor", "7": "Dont know/Not Sure", "9": "Refused"}, "PHYSHLTH": {".": "Not asked or Missing", ".D": "DK/NS", ".R": "REFUSED", "1       - 30": "Number of days", "77": "Dont know/Not sure", "88": "None", "99": "Refused"}, "MENTHLTH": {".": "Not asked or Missing", ".D": "DK/NS", ".R": "REFUSED", "1       - 30": "Number of days", "77": "Dont know/Not sure", "88": "None", "99": "Refused"}, "CHCSCNCR": {".": "Not asked or Missing", ".D": "DK/NS", ".R": "REFUSED", "1": "Yes", "2": "No", "7": "Dont know / Not sure", "9": "Refused"}, "CHCOCNCR": {".": "Not asked or Missing", ".D": "DK/NS", ".R": "REFUSED", "1": "Yes", "2": "No", "7": "Dont know / Not sure", "9": "Refused"}, "CHCKIDNY": {".": "Not asked or Missing", ".D": "DK/NS", ".R": "REFUSED", "1": "Yes", "2": "No", "7": "Dont know / Not sure", "9": "Refused"}, "SEX": {".D": "DK/NS", ".R": "REFUSED", "1": "Male", "2": "Female", "9": "Refused"}, "MARITAL": {".": "Not asked or Missing", ".D": "DK/NS", ".R": "REFUSED", "1": "Married", "2": "Divorced", "3": "Widowed", "4": "Separated", "5": "Never married", "6": "A member of an unmarried couple", "9": "Refused"}, "_RFHLTH": {".D": "DK/NS", ".R": "REFUSED", "1": "Good or Better Health", "2": "Fair or Poor Health", "9": "Dont know/Not Sure Or Refused/Missing"}, "_AGE_G": {".D": "DK/NS", ".R": "REFUSED", "1": "Age 18 to 24", "2": "Age 25 to 34", "3": "Age 35 to 44", "4": "Age 45 to 54", "5": "Age 55 to 64", "6": "Age 65 or older"}, "_BMI5CAT": {".": "Dont know/Refused/Missing", ".D": "DK/NS", ".R": "REFUSED", "1": "Underweight", "2": "Normal Weight", "3": "Overweight", "4": "Obese"}, "_EDUCAG": {".D": "DK/NS", ".R": "REFUSED", "1": "Did not graduate High School", "2": "Graduated High School", "3": "Attended College or Technical School", "4": "Graduated from College or Technical School", "9": "Dont know/Not sure/Missing"}, "_INCOMG": {".D": "DK/NS", ".R": "REFUSED", "1": "Less than $15,000", "2": "$15,000 to less than $25,000", "3": "$25,000 to less than $35,000", "4": "$35,000 to less than $50,000", "5": "$50,000 or more", "9": "Dont know/Not sure/Missing"}, "DROCDY3_": {".D": "DK/NS", ".R": "REFUSED", "0": "No Drink-Occasions per day", "1       - 899": "Drink-Occasions per day", "900": "Dont know/Not Sure Or Refused/Missing"}, "_TOTINDA": {".D": "DK/NS", ".R": "REFUSED", "1": "Had physical activity or exercise", "2": "No physical activity or exercise in last 30 days", "9": "Dont know/Refused/Missing"}}

In [7]:
cleaned_df.to_csv("datasets/cleaned_dataset.csv", index=False)